* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.holder {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  text-align: center;
}

.holder h1 {
  margin-bottom: 2rem;
}

.holder input {
  width: 300px;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
}

.new-task {
  margin: 2rem 0;
}

.holder #create-task {
  padding: 0.5rem 0.7rem;
  text-transform: uppercase;
  border: 1px solid #333;
  background-color: rgb(116, 25, 124);
  color: #fff;
  transition: 0.2s ease-in-out;
}

.holder #create-task:hover {
  cursor: pointer;
  opacity: 0.9;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
  padding: 0.6rem;
  background-color: #fff;
}

.task button {
  padding: 0.2rem 0.4rem;
  background-color: #b92222;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  font-weight: bold;
}

.task button:hover {
  cursor: pointer;
}

.task p {
  font-size: 0.9rem;
}

.done {
  background-color: #7be697;
}