body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(184, 184, 219);
    overflow-y: hidden;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(167, 167, 167);
    border: 0.5px rgb(211, 207, 207) solid;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 0.5rem;
}

.container h1{
    color: white;
    margin: 2rem auto;
}
.container p{
    color: white;
    margin: 3rem auto;
}

.btn-main-1st, .btn-main-2nd{
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: auto 0.5rem;
    cursor: pointer;
}

.container:hover, .first-modal:hover, .second-modal:hover{
    background-color: rgba(170, 166, 166, 0.822);
}
.btn-main-1st:hover,
.btn-main-2nd:hover{
    background-color: rgb(148, 148, 170);
}

 .first-modal, .second-modal{
    display: none !important;
}
.first-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(167, 167, 167);
    border: 0.5px rgb(211, 207, 207) solid;
    border-radius: 10%;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    z-index: 6853;
}
.second-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(167, 167, 167);
    border: 0.5px rgb(211, 207, 207) solid;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

.exit-btn{
margin: 0.2rem 0;
padding: 7px 10px;
color: rgb(110, 107, 107);
border-radius: 50px;
border: none;
}
.exit-btn:hover{
  color: rgb(221, 218, 218);
  cursor: pointer;
  background-color: rgb(155, 145, 145);
}

.btn-modal-1st, .not-yet{
    margin: 1.3rem 0;
}
.header1, .header2{
    margin-top: 0.6rem;
    color: white;
}

.some-text1{
    color: white;
    margin: 2rem;
}
.some-text2{
    color: white;
    margin: 2rem;
}
.btn-modal-2nd{
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: auto 0.5rem;
    cursor: pointer;
}
.btn-modal-1st, .not-yet{
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: auto 0.5rem;
    cursor: pointer;
    margin: 0.5rem 0 1rem 0;

}
.btn-modal-1st:hover, 
.not-yet:hover, .btn-modal-2nd:hover{
    background-color: rgba(148, 148, 170, 0.712);
}