* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(141, 176, 240);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: none;
  border-radius: 10px;
  background-color: rgb(209, 221, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px;
}
.container:hover {
  background-color: rgba(209, 221, 231, 0.788);
}
input {
  margin: 15px;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
}

#submit {
  border: none;
  border-radius: 5px;
  background-color: rgb(74, 72, 190);
  padding: 5px 20px;
  color: aliceblue;
  margin-bottom: 20px;
}

#submit:hover {
  background-color: rgb(88, 87, 190);
  color: rgb(182, 186, 189);
  cursor: pointer;
}

.todo_card {
  flex-direction: row;
  background-color: rgb(106, 119, 131);
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
  box-sizing: border-box;
  display: none;
}
.todo_card p {
  max-width: 90%;
}
.todo_card:hover {
  background-color: rgba(106, 119, 131, 0.767);
}

.done {
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  background-color: rgb(75, 221, 87);
  color: aliceblue;
  font-size: larger;
  margin: 5px 0;
}
.done:hover {
  background-color: rgb(70, 206, 82);
}
.cancel:hover {
  background-color: rgb(189, 29, 29);
}
.cancel {
  border: none;
  border-radius: 50px;
  padding: 5px 11px;
  background-color: rgb(223, 26, 26);
  color: aliceblue;
  font-size: larger;
  margin: 5px 0;
}
