*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}
#stop-watch{
    width: 500px;
    height: 250px;
    background-color: rgb(133, 180, 233) ;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-shadow: 11px 7px 29px -2px rgba(62,62,153,0.59);
    -webkit-box-shadow: 11px 7px 29px -2px rgba(62,62,153,0.59);
    -moz-box-shadow: 11px 7px 29px -2px rgba(62,62,153,0.59);
    box-sizing: border-box;
}

h1{
    margin: 0 0 30px 0;
    color: aliceblue;
    letter-spacing: 3px;
}
#time{
    font-size: 60px;
    letter-spacing: 5px;
    color: aliceblue;
}
button{
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 19px;
    margin: 30px 20px 0 20px;
}

button:hover {
    color:#96a0bd;
    transition: 0.5s;
    font-size:20px;
}