*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(175, 194, 194);
}
#stop-watch{
    width: 400px;
    height: 300px;
    background-color: cadetblue;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column}

h1{
    margin: 0;
    color: aliceblue;
    letter-spacing: 3px;
}
#time{
    font-size: 50px;
    letter-spacing: 5px;
    color: aliceblue;
    margin: 30px 20px;
}
button{
    border: none;
    background-color: transparent;
    color: aliceblue;
    margin: 10px 20px;
    font-size: 20px;
}